<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <link rel="icon" href="favicon.svg" />
  <title>关于</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
  <link rel="stylesheet" href="css/loginBoard.css" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <div id="headerWrapper">
    <header>
      <div id="navLine">
        <a href="/" id="logo">
          <span>云匠心</span>
        </a>
        <!--%include('../include/navigator.htm',{"activePage":"about"})%-->
      </div>
      <div id="profileLine">
        <a id="githubAnchor" href="https://github.com/antield/yunjiang.xin/" target="_blank">
          <span>Github</span>
          <span class="material-icons">open_in_new</span>
        </a>
        <span id="loginBar"></span>
      </div>
    </header>
  </div>
  <div id="mainBodyWrapper">
    <main id="mainBody">
      <h2>关于</h2>
      <div id="aboutMainContent">
        <div id="aboutMainContentItem">
          <p>不忘初心，方得始终。匠心，是一种态度，一种追求，一份挚爱，一种信仰。</p>
          <p>没有那金钢钻，别揽瓷器活。匠心，是一个方向，一种积累，一种修行，一种财富。</p>
          <p>千锤万凿出深山，烈火焚烧若等闲。匠心，一种智慧，是一份细致，一种诚信，一种品质。</p>
        </div>
        <div id="contactInfo">
          <h4>联系方式</h4>
          <p>
          <address>邮箱: antield[at]126.com</address>
          </p>
        </div>
    </main>
  </div>
  </div>
  <div id="footerWrapper">
    <footer>
      <span>邮箱: antield[at]126.com</span>
      <a id="newIssueAnchor" href="https://github.com/antield/yunjiang.xin/issues/new" target="_blank">
        <span>报告缺陷</span>
        <span class="material-icons">open_in_new</span>
      </a>
    </footer>
  </div>
  <!--%include('../include/loginBoard.htm')%-->
  <script type="text/javascript" src="js/compile-less/map_config.js"></script>
  <script type="text/javascript" src="js/index.bundle.js"></script>
</body>

</html>